extends layout

block layout-content
  div.View
    h1.Banner GNA
    div.Message
      div.Title
        h1 GeoFS NRP Admin Site
      span.Details For High Command officers and centralized governing members 
      p Login page here or some shit