extends layout

block layout-content
  main.login-page
    section.login-card
      h1.login-logo GNA
      h2.login-title GeoFS NRP Admin Site
      a.login-button(href="/login") Log in
      p.login-details For High Command officers and centralized governing members
