extends layout

block layout-content
  main.login-page
    section.login-card
      span.login-badge Command Access
      .login-identity
        span.login-acronym GNA
        h1.login-title GeoFS NRP Admin Site
      p.login-description Central operations interface for the GeoFS Naval Response Program.
      a.login-button.btn.btn-primary.btn-full(href="/login")
        span.login-button-icon 🔐
        span Log In
      p.login-details Access restricted to High Command officers and centralized governing members.
