block variables

- var includeBaseStyles = typeof includeBaseStyles === 'undefined' ? true : includeBaseStyles;
- var useRootContainer = typeof useRootContainer === 'undefined' ? true : useRootContainer;
- var bodyClass = typeof bodyClass === 'undefined' ? '' : bodyClass;

doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | GNS Admin
    if includeBaseStyles
      link(rel="stylesheet", href="/style.css")
    block extra_styles
  body(class=bodyClass || undefined)
    if useRootContainer
      div#root
        block layout-content
    else
      block layout-content
    block scripts
